*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
  padding-top:65px;
}

#dark-blue{
    font-size:25px;
    font-weight:400;
    color:#c9ccce;

}
.purple{
    color: #aeabab;
}
.blue{
    color:#1caaca;
}

.paragraph-text{
    font-size: 20px;
    font-weight:400;
    letter-spacing: 3px;
    margin: 0px;
}



.header-text{
    font-size: 90px;
    font-weight:300;
    margin: 0;
}
.medium-text{
    font-size:52px;
    font-weight:400;
}
.small-text{
    font-size: 30px;
    font-weight:400;
    letter-spacing: 3px;
}

.btn-medium{
    height: 55px;
    width: 160px;
    font-size: 20px;
    font-weight: 500;
    border: 2px;
    
    border-radius: 5px;
    margin: 8px 8px 8px 0px;
    color: rgb(255, 255, 255);
    background-color:#FF5F5D;
    transition: all 0.3s;
}
.btn-medium:hover{
    color:#FF5F5D;
    background-color:transparent;
    border: 2px solid #FF5F5D;

}
.btn-large{
    height: 65px;
    width: 180px;
    font-size: 25px;
    font-weight:300;
    border: none;
    border-radius: 10px;
    margin:0px 35px;
    color: rgb(255, 255, 255);
    background-color:#FF5F5D;
}
.middle-bar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color:#049DD9;

    
}

.middle-section{
    height:90vh;
    width: 100%;
    display: flex; 
    background-color: #e9ebef;

}
.middle-section-text{
    height: 90vh;
    width: 55%;
    padding-left:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle-section-img{
    height: 90vh;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.gallery{
    width: 100%;
}
.btn-bar{
    margin: 40px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.card-section{
    
    height: 110vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#e9ebef;

}
.box{
    height: 80vh;
    width: 25%;
    margin: 0px 25px;
    padding: 8px;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.svg-img{
    display: block;
    width:100%;
}
.benifit-section{
    position: relative;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color:#049DD9;
}
.benifit-box{
    width: 21%;
}
.benifit-box-parent{
    margin-top: 70px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.benifit-box-inner{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.benifit-box-inner i{
    font-size:65px;

}
.benifit-devider{
    width: 100%;
    padding-top:70px;
    display: flex;
    
}
.benifit-devider-left{
    height:100%;
    width: 50%;
    padding:70px 0 0 140px ;
    text-align: left;

}

.benifit-devider-right{
    margin: auto;
}
.footer{
    height: 100vh;
    width: 100%;
}




