/******************start media query for small device ***************/
@media screen and (max-width:425px){
    .body{
        padding:0px 5px 0px 5px;
        overflow: hidden;
    }

    .header{
        height:33vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow:hidden;
        border-bottom: 1px solid gray;
        
        
    }

    
    .logo{
        height: 15vh;
        width: 100%;
        margin: 5px;
        display: flex;
        justify-content: center;
        
        
    }
    .website-name{
        width:100%;
        display: flex;
        justify-content:center;
    }
    .contact-number{
        width:100%;
        font-size: 20px;
        margin:5px 5px 10px 5px;
        display: flex;
        justify-content: center;
    }
    .menubar{
        height:8vh;
        width:100%;
        overflow:hidden;
    }
    .dropdown{
        height:8vh;
        width: 20%;
    }
    #dropdownMenuButton1{
        height: 8vh;
        width: 100%;
    }
    .dropdown h4{
        font-size: 10px;
    }
    
    #hero-carausel{
        display: flex;
        flex-direction: column;
    }
    .c-item{
        height: 45vh;
        width: 100%;
    }
    .c-img{
        height: 45vh;
        width: 100%;
    }
    .middle-bar{
        height: 7vh;
        width: 100%;
        text-align: center;
    }
    .middle-bar h1{
        font-size:15px; 
    }
    .middle-bar h1 span{
        font-size: 20px;
    }
    .middle-section{
        height:450vh;
        width: 100%;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .login-section{
        height:100vh;
        width:100%;
        padding: 8px;
        margin:10px 0px 10px 0px;
        position: static;
        align-items: center;
        justify-content: center;
    
        
    }
    .login-container{
        height:90vh;
        width:100%;
        position: static;
    }
    .input-group input{
        height:8vh;
        width:75%;
        padding-left: 70px;
        border: 1px solid rgb(41, 179, 197);
        border-top-right-radius: 5px;
        outline: 0px;
        font-size: 15px;
        font-weight:500;
    }
    .login-container button{
        margin: 10px;
        font-size:12px;
        font-weight: bold;
        color: #d3cfcf;
    }
    .middle-section-up,
    .middle-section-middle,
    .middle-section-down{
        height:110vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /*.middle-section-middle{
        height:200vh;
        width: 100%;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
    }*/
    .middle-img-section-up, 
    .middle-img-section-middle, 
    .middle-img-section-down{
        height:50vh;
        width: 100%;
        padding: 16px;
    }
    .middle-img-section-up img,
    .middle-img-section-middle img,
    .middle-img-section-down img{
        height:45vh;
        width: 100%;
    }
    .middle-text-section-up,  
    .middle-text-section-down{
        height:50vh;
        width: 100%;
        padding:20px;
        display: flex;
        flex-direction:column;
        line-height:20px;
        letter-spacing:1px;
        font-size:16px;
    }
    .middle-text-section-middle{
        height:80vh;
        width: 100%;
        padding:20px;
        margin: 10px 0px;
        display: flex;
        flex-direction:column;
        line-height:20px;
        letter-spacing:1px;
        font-size:16px;
    }
    .middle-text-section-up p{
        text-align:left;

    }
    .dotted-line img{
        height:5vh;
        width:23%;
    }
    .dotted-line{
         margin: 0px;
    }
    .bottom-section{
        height:80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .business-img{
        height:30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .business-img img{
        height:30vh;
        width:90%;
    }
    .world-img{
        height: 30vh;
        width: 100%;
    }
    .world-img img{
        height:25vh;
        width: 60%;
    }
    .footer{
        height: 8vh;
    }
    
    
}
/******************end media query For small device ***************/
/******************start media query For medium  device ***************/