*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con{
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}
.box{
    height: 20vh;
    width: 25%;
    background-color: white;  
    transition:  1s; 
}
.box:hover{
    background-color: purple;

}
