*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    height: 12vh;
    width: 100%;
    background-color: rgb(109, 108, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    font-size: 15px;
    font-weight: 600;

    padding:10px 16px;
    border-radius: 5px;
}
.item a{
    text-decoration:none ;
    color: rgb(240, 239, 239);
}
#box{
    height:400px;
    width: 0%; 
    color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.active{
    background-color: rgb(243, 10, 10);
    text-decoration: none;

}