
.header-head2r{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.voice-file{
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.voice-row:hover{
    background-color:#FFFF99;

}
.bg-green{
    background-color:#69FA8E;
}






